In [1]:
import pandas as pd 
import os

In [2]:
!pip install selenium

Requirement already satisfied: selenium in /Users/AlexaJ/anaconda3/lib/python3.6/site-packages (3.14.0)
Requirement already satisfied: urllib3 in /Users/AlexaJ/anaconda3/lib/python3.6/site-packages (from selenium) (1.22)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import pandas as pd 
import os
import re 
import numpy as np


from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.Chrome(executable_path='/Users/alexaj/anaconda3/bin/chromedriver')

In [4]:
url = "https://degreeworks.banner.marist.edu/dashboard/dashboard"
driver.get(url)

In [5]:
#driver.implicitly_wait(5)
contFrame = driver.find_element_by_css_selector('html > frameset > frame:nth-child(4)')
driver.switch_to.frame(contFrame)
#frBC = driver.find_element_by_xpath('/html/frameset')
bodyFrame = driver.find_element_by_name('frBody')
driver.switch_to.frame(bodyFrame)

In [6]:
html = driver.page_source
soup = BeautifulSoup(html, "html5lib")

In [6]:
#bodyCode
relevant = soup.find_all("form", attrs={"name": "frmAudit"})

In [7]:
#code for required courses 
reqStrings = soup.find_all("td", attrs={"class": "RuleLabelTitleNeeded"})

reqCourses = []
for reqString in reqStrings:
    req = reqString.decode_contents(formatter="html")
    reqCourses.append(req)

coreReqs = [x for x in reqCourses if '3 credits' in x]
#coreReqs
coreReqDf = pd.DataFrame(coreReqs)
coreReqDf.columns = ['Core Requirement']
coreReqDf

                                    Core Requirement
0  3 credits Ethics/Applied Ethics/Religious Studies

In [8]:
#Code for scraped data from Student View information
studentTable = soup.find("table", attrs={"class": "Inner"})
studentDataTag = studentTable.findAll('td')

studentData = []

for data in studentDataTag:
    #Below one line extracts data 
    string = data.decode_contents(formatter="html")
    studentData.append(string)

#studentData
#studentTitle = studentData[::2]
#studentD = studentData[1::2]
#studentTitle
keyVal = dict(zip(studentData[::2], studentData[1::2]))
studentView = pd.DataFrame.from_dict(keyVal, orient='index')
studentView

                                                                0
Student                                          Javellana, Alexa
Level                                               Undergraduate
ID                                                       20068940
Degree                                               B.S. &nbsp;
Classification                                     Junior &nbsp;
College                        Computer Science &amp; Mathematics
Advisor         \n<a href="mailto:Robert.Cannistra@marist.edu?...
Major                                            Computer Science
Overall GPA                                                 3.476
Minor                                                        Math
Student Type                               Traditional Continuing
Concentration                       CompSci: Software Development
Term Location                                        Poughkeepsie

In [87]:
#transfer this dataframe into a CSV
filename = 'SerenityStudentInfo.csv'
studentView.to_csv(filename, index=False)

In [9]:
#This code parses the data on DegreeWorks by td class, BlockHeadTitle. 
#Used to correlate the data parsed from BlockHeadSubData involving credits to it's major/minor
headTitle = soup.find_all("td", attrs={"class": "BlockHeadTitle"})
#subTitle
headTitleP = []
for headT in headTitle:
    string = headT.getText()
    headTitleP.append(string)
#headTitleP

creditTitles = []
for headTitle in headTitleP:
    if any(s in headTitle for s in ('Degree', 'Major', 'Minor')):
        creditTitles.append(headTitle)

#titlesDF = pd.DataFrame(creditTitles)
#titlesDF.columns = ['Title']
#titlesDF

In [10]:
#This code parses the data on DegreeWorks by td class, BlockHeadSubd
#Code parses credits into total and completed arrays

subData = soup.find_all("td", attrs={"class": "BlockHeadSubData"})
#dataNP = array of subData that is not parsed, but converted from obj to str
subDataNP = []
for subD in subData:
    string = subD.getText()
    subDataNP.append(string)
    #objToText

#dataP = array subData that is/will be parsed
subDataP = []
for subDataN in subDataNP:
    string = subDataN.split("\xa0 ",1)[1]
    if string:
        subDataP.append(string)
#subDataP
    
credits = []

for subData in subDataP:
    if not any(s in subData for s in ('-', '.')):
        credits.append(subData)

totalCredits = []
completedCredits = []
i = 0
while i < len(credits):
    if i % 2 == 0:
        totalCredits.append(credits[i])
        i += 1
    else:
        completedCredits.append(credits[i])
        i += 1

In [11]:
#Combined arrays to a credit progress table 
#creditTitles, completed, total arrays
creditsProgress = np.vstack((creditTitles, completedCredits, totalCredits)).T
creditsProgress = creditsProgress.tolist()
progressDf = pd.DataFrame(creditsProgress,columns=['Title', 'Credits Completed', 'Total Needed'])
progressDf

                           Title Credits Completed Total Needed
0  Degree in Bachelor of Science               104          120
1      Major in Computer Science                64           67
2                  Minor in Math                 8           18

In [17]:
ppmDatas = soup.find_all("span", attrs={"class": "item_count"})
ppmNames = soup.find_all("span", attrs={"class": "item_name"})

In [13]:
ppm = []
for ppmData in ppmDatas:
  sep = ' '
  rest = ppmData.text.split(sep, 1)[0]  
  ppm.append(rest)
#ppm

NameError: name 'ppmDatas' is not defined

In [14]:
ppmCountry = []
for ppmName in ppmNames:
  #sep = ' '
  #rest = ppmName.text.split(sep, 1)[0]  
  ppmCountry.append(ppmName.text)    
#ppmCountry

NameError: name 'ppmNames' is not defined

In [201]:
ppmInfo = np.vstack((ppmCountry, ppm)).T
ppmInfo = ppmInfo.tolist()

In [202]:
df = pd.DataFrame(ppmInfo,columns=['By country', 'Page views per minute'])

In [204]:
df

   By country Page views per minute
0          GB                0.0176
1          US                 0.011
2          IE               0.00347
3          DE               0.00288
4          AT               0.00278
5          BR               0.00198
6          SK               0.00169
7          HU               0.00139
8          RU               0.00129
9          VE              0.000794
10         NL              0.000496
11         CL              0.000397
12         CH              0.000298
13         ES              0.000298
14         JP              0.000198
15         MY             0.0000992
16         SE             0.0000992

In [205]:
filename = '0816CountryView.csv'
df.to_csv(filename, index=False)
#os.rename("/Users/alexaj/LastWeekConsolidation/" + filename, "/Users/alexaj/LastWeekConsolidation/AJAXData/" + filename)